/* src/components/Sidebar.module.css */
.sidebar {
  background-color: #ffcb77;
  padding: 20px;
  border: 3px solid #d62828;
}

.sidebar h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.character_examples {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.character_icon {
  width: 80px;
  margin-bottom: 10px;
}

.character_name {
  font-size: 18px;
  color: #003049;
}
